  {{ if (strings.Contains .RelPermalink "home") }}
<!DOCTYPE html>
<html data-theme="light" lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" }}
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<body>
      {{ partial "header.html" . }}
      {{ partial "home/hero.html" . }}
      {{ partial "home/about.html" . }}
      {{ partial "home/explainer.html" . }}
      {{ partial "home/memorandum.html" . }}
      {{ partial "home/members.html" . }}
      {{ partial "home/join.html" . }}
      {{ partial "social.html" . }}
      {{ partial "footer.html" . }}
</body>

</html>
  {{ else }}
<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  <div class="min-h-screen flex flex-col">
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
  </div>
</body>

</html>
  {{ end }}
