<a href="{{ .RelPermalink }}" rel="noreferrer noopener" class="divide-y">
<div class="card card-compact shadow-lg hover:shadow-2xl dark:shadow-neutral-50
            my-4
  w-full lg:max-w-md lg:w-80">
    {{ $image := .Resources.GetMatch .Params.Image }} {{ with $image }}
    <figure>
      <img alt="image" class="object-cover w-full max-h-40 lg:max-h-40 lg:w-full
      lg:object-cover" src="{{ ($image.Fit " 320x240 q80 Center").RelPermalink
      }}" >
    </figure>
    {{ end }}
    <div class="card-body flex flex-col justify-between">
      <div>
        <p class="text-indigo-500 text-md font-medium">
          {{ with .Param "tags" }} {{ $tag := index (. | sort) 0 }} {{ with $tag
          }} {{ partial "tag" . }} {{ end }} {{ end }}
        </p>
        <h2 class="card-title text-2xl pb-2">{{ .Title }}</h2>
        <p class="line-clamp-4">{{ .Summary }}</p>
      </div>
      <div class="text-primary">{{ .Date | time.Format ":date_long" }}</div>
    </div>
  </div>
</a>
