<section class="home-section">

  <div class="max-w-screen-xl px-4 mx-auto my-20">
    <img src='{{ (resources.Get "/images/collaboration.png").RelPermalink }}'
      class="w-96 mx-auto my-12 scale-75 intersect:scale-100 transition duration-800" width="512" height="512" alt="collaboration">

      <div class="mb-12 text-2xl sm:leading-relaxed sm:text-xl md:px-40 lg:px-40 xl:px-40
        opacity-50 intersect:opacity-100 transition duration-800 ease-in">
        {{ if (eq $.Lang "uk" ) }}
        Модернізація українського спорту потребує <span class="underline decoration-primary font-bold">зкоординованих дій</span> усіх зацікавлених сторін.
        {{ else }}
        Modernization of Ukrainian sport requires systemic work of all interested parties.
        {{ end }}
      </div>
      <div class="mb-12 text-2xl sm:leading-relaxed sm:text-xl md:px-40 lg:px-40 xl:px-40
        opacity-0 intersect:opacity-100 transition duration-800 ease-in">
        {{ if (eq $.Lang "uk" ) }}
        Наша задача – <span class="underline decoration-purple-500 font-bold">сформувати та втілити стратегію</span> переходу на Європейську модель спорту разом, врахувавши інтереси всіх стейкголдерів.
        {{ else }}
        Our goal is to develop and implement a strategy for the transition to the European model of sport together, taking into account the interests of all stakeholders.
        {{ end }}
      </div>
  </div>

</section>
