<section class="home-section">

  <h2 class="text-7xl text-center font-extrabold px-12 mx-auto">
    {{ if (eq $.Lang "uk" ) }}
    Чому потрібна <span class="text-highlight2">модернізація системи спорту?</span>
    {{ else }}
    Why <span class="text-highlight2">sport system modernization</span> is needed?
    {{ end }}
  </h2>
  <div class="max-w-screen-xl px-4 mx-auto my-20">
      <div class="mb-12 sm:leading-relaxed space-y-9 text-2xl md:px-40 lg:px-40 xl:px-40 opacity-0 intersect:opacity-100 transition duration-800 ease-in">
        {{ if (eq $.Lang "uk" ) }}
        <p>
        <b>Спорт є дзеркалом суспільства</b>. В демократичних країнах спорт організований навколо інтересів громадян, які об'єднуються в клуби. В комуністичних країнах спорт є політичним інструментом і організований централізовано навколо інтересів держави. Ці дві моделі управління спортом працюють лише тоді, коли відображають суспільство в якому вони втілені.
        </p>

        <p>
        Україна <b>успадкувала комуністичну модель</b> від СРСР, проте обрала курс на демократію та ринкову економіку. Механізми та KPI комуністичної системи більше не працюють. Українське суспільство обирає європейський шлях, а отже і Європейську модель спорту.
        </p>
        {{ else }}
        <p>
        <b>Sport is a reflection of the society</b>. Democratic countries have sports system organized around the interests of the citizens, through free association into clubs. In communist countries, sports is a political tool and organized in a centralized fashion around the interests of the state. These two different sport models work only when they match the underlying society.
        </p>

        <p>
        Ukraine inherited <b>a communist system</b> from USSR as a legacy, but has choosed the path to demoracy and free market. Communist system's methods and KPIs are no longer working. Ukrainian society has choosen European path, and thus need to switch to European sports model.
        </p>
        {{ end }}
      </div>

  </div>

  <h2 class="text-7xl text-center font-extrabold px-12 mx-auto">
    {{ if (eq $.Lang "uk" ) }}
    Що таке<span class="text-highlight1"> коаліція?</span>
    {{ else }}
    What is <span class="text-highlight1"> coalition?</span>
    {{ end }}
  </h2>
  <div class="max-w-screen-xl px-4 mx-auto my-20">
      <div class="mb-12 sm:leading-relaxed space-y-9 text-2xl md:px-40 lg:px-40 xl:px-40 opacity-0 intersect:opacity-100 transition duration-800 ease-in">
        {{ if (eq $.Lang "uk" ) }}
        <p>
        Коаліція - це тимчасове <b>об'єднання різних організацій</b> задля вирішення спільної проблеми.
        </p>

        <p>
        Чим складніша проблема, тим більше ресурсів, досвіду, навичок та зв'язків потрібно для її вирішення. Коаліція дає кожному члену <b>більше ресурсів, зв'язків та можливостей</b> і робить можливими зміни, які не під силу кожному окремо.
        </p>

        <p>
        Якщо кожен з учасників прагне змін, але не може втілити їх самостійно, то найкращий крок - це об'єднатися у коаліцію. Простими словами: <b>разом можна зробити більше, ніж самотужки</b>.
        </p>
        {{ else }}
        <p>
        Coalition is a <b>temporary alliance of different organizations</b> to solve a common problem.
        </p>

        <p>
        The more complex the problem, the more resources, experience, skills and connections are needed to solve it. Coalition gives each member <b>more resources, connections and opportunities</b> and makes changes possible that are not possible for each one alone.
        </p>

        <p>
        If each of the participants wants the change, but cannot implement them alone, then the best step is to unite in a coalition. In simple words: <b>together you can do more than alone</b>.
        </p>
        {{ end }}
        <div class="flex items-end justify-end">
          <a href="/2023/02/coalition" class="underline decoration-primary text-lg">
            <span>{{ i18n "learn_more" }}</span> →
          </a>
        </div>
      </div>
  </div>

</section>
