<section class="home-section">
  <div class="flex flex-col items-center justify-center w-full px-5">
    <h2 class="text-3xl text-extrabold text-gray-500">
      {{ i18n "join_coalition" }}
    </h2>
  </div>
  <div class="text-xl py-32">
    <a
      href="/join"
      class="text-white relative bg-gradient-to-r from-blue-700 to-blue-500 hover:bg-gradient-to-bl font-extrabold text-2xl text-center px-20 py-6 m-3 before:absolute before:w-full before:h-full before:-z-10 before:bg-gradient-to-r before:from-blue-700 before:to-blue-500 before:left-0 before:top-0 before:blur rounded-lg"
    >
      {{ i18n "join" }}
    </a>
  </div>
</section>
