<section class="home-section px-5">

  {{ $csv := getCSV "," .Site.Params.members.url }}

  {{ $persons := 0 }}
  {{ range $i, $r := $csv }}
    {{ if gt $i 0 }}
      {{ $members := int (index $r 6) }}
      {{ $persons = add $persons $members }}
    {{ end }}
  {{ end }}

  {{ partial "home/section-title" (i18n "members") }}
  {{ partial "home/stats.html" . }}
  <div class="text-xl pt-24 pb-8 font-bold">
    {{ if eq .Lang  "uk" }}
    Станом на {{ dateFormat "02 January 2006" now }} до коаліції приєдналися {{ sub (len $csv) 1 }} організацій та {{ $persons }} осіб:
    {{ else }}
    As of {{ dateFormat "January 02, 2006" now }}, {{ sub (len $csv) 1 }} organizations {{ if gt $persons 0 }} and {{ $persons }} individuals{{ end }} have joined the coalition:
    {{ end }}
  </div>

  <div class="w-full flex justify-center">

    <table class="table table-auto w-1/2 border relative shadow-gradient1">
      <tbody>
        {{ range $i, $r := $csv }}

        {{ if gt $i 0 }}
        <tr>
          <td>{{ $i }}</td>
          <td>
            <a class="link link-hover" href="{{ index $r 2 }}}}" target="_blank">
              <strong>{{ index $r 0 }}</strong>
            </a>
          </td>
          <td class="hidden md:block lg:block">
            <a class="link link-primary" href="{{ index $r 2 }}}}" target="_blank">{{ index $r 2 }}</a>
          </td>
        </tr>
        {{ end }}

        {{ end }}
      </tbody>
    </table>
  </div>

  {{ range .Site.Params.partners }}
  <div class="max-w-1/2 lg:max-w-3/12 border border-neutral-400 hover:shadow-lg
    scale-75 intersect:scale-100 transition duration-500 ease-out
    ">
    <a href="{{.url}}">
      <div class="group flex justify-center">
          {{ $image := resources.Get .image }}
          <img 
          class="drop-shadow h-24 scale-50 group-hover:scale-75 transition-all duration-500"
          src='{{ ($image.Fit " 512x96 Center").RelPermalink }}' alt="">
      </div>
    </a>
  </div>
  {{ end }}

</section>
