<section class="home-section">

  {{ partial "home/section-title" (i18n "memorandum") }}
  <div class="relative max-w-screen-xl px-4 py-16 mx-auto lg:h-3/6 lg:items-center lg:flex">
      <div class="text-2xl sm:leading-relaxed sm:text-xl lg:px-40">
        {{ if eq .Lang  "uk" }}
        <p>
        Ми, що нижче підписалися, дійшли згоди наступного:
        </p>

        <ol class="my-8 list-decimal pl-12">
          <li>Україна успадкувала комуністичну модель управління спортом, яка не відповідає запиту суспільства на спорт</li>
          <li>Українське суспільство обрало курс на демократію та ринкову економіку</li>
          <li>Україна має перейти на Європейську модель спорту</li>
          <li>Цей перехід є не лише законодавчим, а й ідеологічним, і займе десятиліття</li>
          <li>Він можливий тільки якщо всі стейкголдери в спорті зкоординують свої зусилля для його втілення</li>
        </ol>

        {{ else }}
        Memorandum eng TBD
        {{ end }}
      </div>
  </div>

</section>
