{{ define "main" }}

<div class="container mx-auto flex-grow">
  {{ partial "home/section-title" (i18n "plan") }}

  <ol class="border-l-2 border-primary dark:border-primary-500">
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] mr-3 -mt-2 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        ></div>
        <h4 class="-mt-2 text-xl font-semibold">Анонс коаліції</h4>
      </div>
      <div class="ml-6 mb-6 pb-6">
        <a
          href="#!"
          class="text-primary transition font-bold duration-150 ease-in-out hover:text-primary-900 focus:text-primary-900 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-900"
          >24 лютого, 2023</a
        >
        <p class="mt-2 mb-4 text-neutral-600 dark:text-neutral-300">
          Анонс коаліції та пошук партнерів. Розсилка запрошення усім
          зацікавленим стейкголдерам.
          <br />
          Визначення дати, формату та плану першої зустрічі коаліції.
        </p>
      </div>
    </li>
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] mr-3 -mt-2 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        ></div>
        <h4 class="-mt-2 text-xl font-semibold">
          Перша зустріч коаліції. Знайомство та презентації.
        </h4>
      </div>
      <div class="ml-6 mb-6 pb-6">
        <a
          href="#!"
          class="text-primary transition font-bold duration-150 ease-in-out hover:text-primary-900 focus:text-primary-900 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-900"
          >5 cерпня, 2023</a
        >
        <p class="mt-2 mb-4 text-neutral-600 dark:text-neutral-200">
          Перша зустріч коаліції. Знайомство, затвердження бачення та місії
          коаліції, презентація поточних напрацювань партнерів. Визначення
          формату та плану наступних зустрічей та роботи коаліції. Пошук
          ресурсів та фасилітаторів для ефективної роботи коаліції.
        </p>
      </div>
    </li>
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] mr-3 -mt-2 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        ></div>
        <h4 class="-mt-2 text-xl font-semibold">
          Друга зустріч коаліції. Анонс структури та робочих груп.
        </h4>
      </div>
      <div class="ml-6 mb-6 pb-6">
        <a
          href="#!"
          class="text-primary transition font-bold duration-150 ease-in-out hover:text-primary-900 focus:text-primary-900 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-900"
          >9 вересня, 2023</a
        >
        <p class="mt-2 mb-4 text-neutral-600 dark:text-neutral-200">
          На цій зустрічі була анонсована попередня структра коаліції. Визначено
          головні напрямки ядра коаліції та робочі групи.
        </p>
      </div>
    </li>
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] mr-3 -mt-2 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        ></div>
        <h4 class="-mt-2 text-xl font-semibold">
          Третя зустріч коаліції. Затвердження правил діяльності та плану
          робочих груп. Побудова мапи стейкголдерів.
        </h4>
      </div>
      <div class="ml-6 mb-6 pb-6">
        <a
          href="#!"
          class="text-primary transition font-bold duration-150 ease-in-out hover:text-primary-900 focus:text-primary-900 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-900"
          >16 жовтня, 2023</a
        >
        <p class="mt-2 mb-4 text-neutral-600 dark:text-neutral-200"></p>
      </div>
    </li>
  </ol>
  <ol class="border-l-2 border-neutral dark:border-neutral-500">
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] mr-3 -mt-2 flex h-4 w-4 items-center justify-center rounded-full bg-neutral-400 dark:bg-neutral-400"
        ></div>
        <h4 class="-mt-2 text-xl font-semibold">
          Регулярні зустрічі, пошук фінансування, презентації та обговорення
          результатів роботи робочих груп, залучення нових членів.
        </h4>
      </div>
      <div class="ml-6 mb-6 pb-6">
        <a
          href="#!"
          class="text-neutral transition font-bold duration-150 ease-in-out hover:text-neutral-400 focus:text-neutral-900 active:text-neutral-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-400 dark:active:text-neutral-900"
          >четвертий квартал 2023</a
        >
        <p class="mt-2 mb-4 text-neutral-600 dark:text-neutral-200">
          Згідно плану затвердженому на попередніх зустрічах.
        </p>
      </div>
    </li>
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] mr-3 -mt-2 flex h-4 w-4 items-center justify-center rounded-full bg-neutral-400 dark:bg-neutral-400"
        ></div>
        <h4 class="-mt-2 text-xl font-semibold">
          Презентація результатів роботи коаліції за 2023 рік.
        </h4>
      </div>
      <div class="ml-6 mb-6 pb-6">
        <a
          href="#!"
          class="text-neutral transition font-bold duration-150 ease-in-out hover:text-neutral-400 focus:text-neutral-900 active:text-neutral-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-400 dark:active:text-neutral-900"
          >грудень 2023</a
        >
        <p class="mt-2 mb-4 text-neutral-600 dark:text-neutral-200">
          Публічна презентація роботи та результатів діяльності коаліції за рік.
          Ретроспектива роботи коаліції та аналіз проблем. План роботи на 2024
          рік.
        </p>
      </div>
    </li>
  </ol>
</div>

{{ end }}
